*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
           /*inizio header-top*/
.header-top{
    width: 100vw;
    height:80px;
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.header-top-sx {
    width:30%;
    height:100%;
    display: flex;
    text-align: center;
    color: grey;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 10px;
}
.logo-small{
    width:70%;
    height:70%;
}
.header-top-dx{
    width:30%;
    height:100%;
    display: flex;
    text-align: center;
    color: grey;
    justify-content: space-around;
    align-content: center;  
    align-items: center;
    font-size: 10px;
}
.inizia{
    color: white;
    background-color: rgb(5, 67, 255);
    padding: 1%;
}   /*fine header-top*/

.container-header{  /*inizio container-header*/
    height: 740px;
    width: 100%;
    background-color: rgb(165, 197, 225);
    display: flex;
    justify-content: center;
    position: relative;
    
}
.part-centre{
    height: 700px;
    width: 60%;
    background-color: rgba(red, green, blue, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 50px;
}
.part-centre .inizia{
    width: 140px;
    font-size: 10px;
}

header h1{
    font-weight: bold;
}
.jumbo{
    position: absolute;
    left:30%;
    top:36%;
    height:460px;
    width:760px;
}
.main-p-header{
    width:25%;
    font-size: 10px;
}
header p{
    font-size: 10px;
}
 /*fine container-header*/

    /*inizio main*/
main{
    width: 100vw;
    height: 4000px;
    overflow: scroll;
}



    .section-1{
        width: 55%;
        height: 1140px;
        
        
        padding: 50px 0px;
        
        position: absolute;
        left: 22.5%;
    }
    .round-1{
        width:4px;
        height:4px;
        border-radius: 50%;
        border: solid 5px rgb(5, 67, 255);
        padding: 1px;
        font-size: 10px;
        color: white;
        position: absolute;
        left: 10px;
        bottom: 50px;

    }
    .mensile{
        position: absolute;
        left: 25px;
        bottom:50px;
        font-size: 10px;
    }
    .annuale{
        position: absolute;
        left: 170px;
        bottom:50px;
        font-size: 10px;
    }
    .round-2{
        width:12px;
        height:12px;
        border-radius: 50%;
        border: solid 1px grey;
        
        font-size: 10px;
        color: white;
        position: absolute;
        bottom: 50px;
        left: 150px;
        
    }
    .main-blue{
        color: white;
        background-color: rgb(5, 67, 255);
        padding: 1%;  
        width: 130px;
        text-align: center;
    }
    
    .main-1{
        width: 100%;
        height: 185px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        
    }
    .main-2{
        width:100%;
        height: calc(100% - 185px);
        display: flex;
    }
    .col-1 {
        width: calc(98%/3);
        height: 80%;
        border: solid 1px grey;
        margin-right: 1%;
        font-size: 10px;
        
        
    }
    hr{
        width:25%;
    }
    .long-col{
        height:600px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 4%;
        
    }
    .fa-solid fa-check{
        color: rgb(5, 67, 255);
    }
    .col-2 {
        width: calc(98%/3);
        height: 80%;
        border: solid 1px grey;
        margin-right: 1%;
    }
    .col-3 {
        width: calc(98%/3);
        height: 80%;
        border: solid 1px grey;
    }

    .singolo{
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 40px;
        border-bottom: solid 1px grey;
    }
    .team{
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 40px;
        border-bottom: solid 1px grey;
    }
    .azienda{
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 40px;
        border-bottom: solid 1px grey;
    }
    .section-2{
        width: 55%;
        height: 250px;
        
        
        
        
    
    }
    .div-top-section-2{
        width:100%;
        height:40px;
        text-align: center;
        font-size: 10px;
        line-height: 40px;
        border-bottom: solid 1px grey;
    }
    .div-bottom-section-2{
        width:100%;
        height: 210px;
    }