*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
           /*inizio header-top*/
           /*dafissare con fixed*/
.header-top{
    width: 100vw;
    height:80px;
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.header-top-sx {
    width:30%;
    height:100%;
    display: flex;
    text-align: center;
    color: grey;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 10px;
}
.logo-small{
    width:70%;
    height:70%;
}
.header-top-dx{
    width:30%;
    height:100%;
    display: flex;
    text-align: center;
    color: grey;
    justify-content: space-around;
    align-content: center;  
    align-items: center;
    font-size: 10px;
}
.inizia{
    color: white;
    background-color: rgb(5, 67, 255);
    padding: 1%;
}   /*fine header-top*/

.container-header{  /*inizio container-header*/
    height: 740px;
    width: 100%;
    background-color: rgb(165, 197, 225);
    display: flex;
    justify-content: center;
    position: relative;
    
}
.part-center{
    height: 700px;
    width: 60%;
    background-color: rgba(red, green, blue, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 50px;
}
.part-center button{
    width: 130px;
    font-size: 10px;
    height: 30px;
    padding: 5px;
    background-color: rgb(5, 67, 255);
    border: 0px;
    
    
}
.part-center button a{
    color: white;
    text-decoration: none;
}

header h1{
    font-weight: bold;
}
.jumbo{
    position: absolute;
    left:30%;
    top:36%;
    height:460px;
    width:760px;
}
.main-p-header{
    width:25%;
    font-size: 10px;
}
header p{
    font-size: 10px;
}
 /*fine container-header*/

    /*inizio main*/
main{
    width: 100vw;
    
    overflow: scroll;
}



.section-1{   /*inizio section-1*/
        width: 55%;
        height: 1000px;
        
        margin: auto;
        padding: 50px 0px;
        
        
        
}
.round-1{
        width:4px;
        height:4px;
        border-radius: 50%;
        border: solid 5px rgb(5, 67, 255);
        padding: 1px;
        font-size: 10px;
        color: white;
        position: absolute;
        left: 10px;
        bottom: 50px;

}
.mensile{
        position: absolute;
        left: 25px;
        bottom:50px;
        font-size: 10px;
    }
    .annuale{
        position: absolute;
        left: 170px;
        bottom:50px;
        font-size: 10px;
    }
    .round-2{
        width:12px;
        height:12px;
        border-radius: 50%;
        border: solid 1px grey;
        
        font-size: 10px;
        color: white;
        position: absolute;
        bottom: 50px;
        left: 150px;
        
    }
    .main-blue{
        color: white;
        background-color: rgb(5, 67, 255);
        padding: 1%;  
        width: 130px;
        text-align: center;
    }
    
    .main-1{
        width: 100%;
        height: 185px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        
    }
    .main-2{
        width:100%;
        height: calc(100% - 185px);
        display: flex;
    }
    .col-1 {
        width: calc(98%/3);
        height: 100%;
        border: solid 1px grey;
        margin-right: 1%;
        font-size: 10px;
        
        
    }
    hr{
        width:25%;
    }
    .long-col{
        height: calc(100% - 40px);
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 4%;
        
    }
    .long-col button{
        color: white;
        background-color: rgb(5, 67, 255);
        border: 0px;
        padding:5px;
        
        
    }
    .long-col button a{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .fa-solid fa-check{
        color: rgb(5, 67, 255);
    }
    .col-2 {
        width: calc(98%/3);
        height: 100%;
        border: solid 1px grey;
        margin-right: 1%;
        font-size: 10px;
    }
    .col-3 {
        width: calc(98%/3);
        height: 100%;
        border: solid 1px grey;
        font-size: 10px;
    }

    .singolo{
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 40px;
        border-bottom: solid 1px grey;
    }
    .team{
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 40px;
        border-bottom: solid 1px grey;
    }
    .azienda{
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 40px;
        border-bottom: solid 1px grey;
    }
    .section-2{    /*sezione 2*/
        width: 55%;
        height: 250px;
        margin: auto;
        
        
        
    
    }
    .div-top-section-2{
        width:100%;
        height:40px;
        text-align: center;
        font-size: 10px;
        line-height: 40px;
        border: solid 1px grey;
    }
    .div-bottom-section-2{
        width:100%;
        height: 210px;
        border: solid 1px grey;
        
    }
    .enterprise{
        width:100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }
    .enterprise button{
        color: white;
        background-color: rgb(5, 67, 255);
        font-size: 10px;
        width: 150px;
        height: 30px;
        border: 0px;
        
    }
    .down p{
        font-size: 10px;
        padding: 10px;
    }
    .down h5{
        padding: 10px;
    }
                       /* inizio sezione 3*/
    .section-3{
        width: 55%;
        height: 500px;
        margin: auto;
        display: flex;
        margin-top: 100px;
    }
    .left-3{
        width:60%;
        height: 100%;
    }
    .right-3{
        width:40%;
        height: 100%;
        padding:50px; 

    }
    .right-3 p{
        font-size: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .right-3 a{
        font-size: 10px;
        text-decoration: none;
        color: black;
        
    }
    .right-3 button{
        background-color: white;
        border: 1px solid grey;
        width: 100px;
        height: 30px;

    }
    .left-3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
                /*inizio sezione 4*/
    .section-4{
        width: 55%;
        height: 800px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        justify-content: space-between;
    }    
    .card-6{
        width:30%;
        height:50%;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        justify-content: space-evenly;

    }     
    .title-section-4{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
    }  
            /*inizio sezione 5*/
     .section-5{
         width:55%;
         height:270px;
         margin-top: 150px;
         margin: 0 auto;
     }       
     .box-5{
         width: 50%;
         height: 100%;
         padding: 50px 0px;
         
     }
     .title-5{
margin-bottom: 50px;
     }
     .box-5 a{
         font-size: 10px;
     }
      /*inizio sezione 6 controllare misure quadrati con calc vw*/
.section-6{
        display: flex;
        overflow: scroll;
        width: 100vw;
        height: 640px;
        padding-bottom: 0;
      }
      .square{
          width: calc(100%/3);
          height: calc(100%vw/3);
          flex-wrap: wrap;
          display: flex;
        }
        .small-6{
            width:50%;
            height:50%;
            background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .small-6 img{
            width: 60%;
            height: 60%;
            filter: invert(1);
            
         }
         .c-red{
             background-color: red;
         }
         .c-green{
             background-color: rgb(147, 203, 137);
         }
         .c-bordeaux{
                background-color: rgb(79, 0, 32);
         }
        .c-blue{
                background-color: rgb(15, 128, 195);
            }
.square-center{
    font-size: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.img-center{
    width:50%;
    height:30%;
}
.square-center hr{
    margin-bottom: 30px;
}
.square-center p{
margin-bottom: 30px;
}
.c-lightblue{
    background-color: rgb(165, 197, 225);
}
.c-yellow{
    background-color: rgb(252, 207, 37);
}
 /*inizio sezione 7*/
 .section-7{
    background-color: rgb(165, 197, 225);
    width: 100%;
    height:350px;
    
    
 }
 .box-7{
height: 100%;
     width: 55%;
     margin: 0 auto;
     text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .section-7 h2{
    color: rgb(79, 0, 32); 
    
 }
 .section-7 a{
    text-decoration: none; 
    list-style: none;
    color: black;
    background-color: white;
    padding: 8px;
 }
 .section-7 button{
     border: 0px;
     height:31px ;
 }
   /*inizio sezione 8*/
   .section-8{
    width: 100%;
    height: 700px;
   }
   .box-8{
    width: 55%;
    height: 100%;
    margin: 0 auto;
    
   }
    
   .box-8 h2{
    padding: 80px 0px 50px 0px;
   }
   .box-8 h4{
    padding: 50px 0px 50px 0px;
    font-size: 12px;
    display: inline-block;
   }
    .box-8 hr{
     width: 100%;
    }
    .box-8 a{
        color: black;
        position: relative;
        left: 200px;
        display: inline-block;
    } 
    /*inizio footer*/
    footer{
        width:100%;
        height:570px;
        background-color: black;
    }
    .top-footer{
        width:70%;
        height:70%;
        margin: auto;
        display: flex;
        
    }
    .small-footer{
        width:70%;
        height:30%;
        margin: auto;
        color: lightgray;
        font-size: 10px;
        padding: 20px 0px;
    }
    footer h5{
        color: white;
        margin-bottom: 25px;
    }
    footer a{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .drop-1{
        width: calc(90%/5);
        padding:70px calc(10%/5);
    }
    .border-1{
        border-bottom: 2px white solid;
        
    }
    